.container_refquerry{
    display: flex;
    width: 700px;
   margin-top: 30px;
    justify-content: center;
    align-items: center;
  color: #ff0c0c;
  font-weight: 500px;
    border-radius: 50px;
background: #ffffff;
box-shadow:  5px 5px 10px #888484,
             -5px -5px 10px #bfbaba;
}
.ref {
    align-items: flex-start;
    justify-content: flex-start;
    text-align:left;
    margin-left: 50px;
}
.refcamp{
    align-items: center;
    justify-content: center;
    text-align:left;
    margin-left: 50px;

}
.tittle {
    color: #000000;;
    font-size: 20px;
    font-weight: 600px;
}
.card_header_text{
    color: #555;
}